apiVersion: 1
notifiers:
  - uid: webhook-receiver
    name: WebhookReceiver
    type: webhook
    isDefault: true
    disableResolveMessage: false
    settings:
      url: http://127.0.0.1:9000/alert
