[Unit]
Description=CrudWithAuth
After=network.target

[Service]
WorkingDirectory={{ app_dir }}/publish
ExecStart={{ dotnet_path }} {{ app_dir }}/publish/CrudWithAuth.dll
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=crudwithauth-dotnet
User={{ app_user }}
StandardOutput=append:/var/log/crudwithauth/app.log
StandardError=append:/var/log/crudwithauth/error.log