name: CI-CD

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  restore:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Restore dependencies main application
        run: dotnet restore CrudWithAuth/CrudWithAuth/CrudWithAuth.csproj
      - name: Restore dependencies test application
        run: dotent restore CrudWithAuth/CrudWithAuth.Tests/CrudWithAuth.Tests.csproj
  
  linting:
    needs: restore
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check linting
        run: |
          echo "[]" > lint-report.json
          dotnet format CrudWithAuth/CrudWithAuth/CrudWithAuth.csproj --verify-no-changes --no-restore --report lint-report.json
      - name: Upload Lint report
        uses: actions/upload-artifact@v4
        if: always()
        with: 
          name: lint-report
          path: lint-report.json
  
  test:
    needs: restore
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Testing
        run: |
          dotnet test CrudWithAuth/CrudWithAuth.Tests/CrudWithAuth.Tests.csproj --no-restore --logger "trx;LogFileName=test-results.trx"
      - name: Upload Test report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: dotnet-test-results
          path: "**/*.trx"
  
  publish:
    needs: ["linting", "test"]
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Publish application
        run: dotent publish CrudWithAuth/CrudWithAuth/CrudWithAuth.csproj -c Release -o ./out --no-restore
      
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: ./out/
          retention-days: 1
  
  

